<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row" id="heading">
    <h1>
      Welcome!
    </h1>
  </div>
  <div class="row" id="content">
    <div *ngIf="messages.length == 0">
      <h3>No messages</h3>
    </div>
    <div *ngIf="messages.length > 0">
      <ul id="chatHistory" *ngFor="let message of messages" >
        <li>
          <div>
            <div class="name">{{message.senderName}}</div>
            <div class="time">{{message.sentAt}}</div>
          </div>
          <div>
            {{message.text}}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" id="message">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter message here" aria-label="Enter message here" id="messageInput" name="inputText"/>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (onclick)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
